<section id="form-section">
  <form id="form" [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend id="form-title">Interest Calculator</legend>

      <label for="placement">Choisir son placement:</label>
      <input formControlName="placement" class="inputs form-control" inputmode="text" type="text" id="placement" placeholder="Livret A | LDD | PEL | Houdini" [ngClass]="{'input-error': !placement.valid && placement.value, 'input-success': placement.valid}" />

      <div *ngIf="placement.invalid && (anneeDepart.dirty || placement.touched)" class="error">
        <p *ngIf="placement.errors.required">Placement invalide.</p>
      </div>
      <br />

      <label for="anneeDepart">Année de départ</label>
      <input formControlName="anneeDepart" class="inputs form-control" inputmode="numeric" type="number" id="anneeDepart" placeholder="2021" [ngClass]="{'input-error': !anneeDepart.valid && anneeDepart.value, 'input-success': anneeDepart.valid}" />

      <div *ngIf="anneeDepart.invalid && (anneeDepart.dirty || anneeDepart.touched)" class="error">
        <p *ngIf="anneeDepart.errors.required">Année de départ invalide.</p>
      </div>

      <label for="montantBase">Investissement de base</label>
      <div class="input-group">
        <input formControlName="montantBase" class="inputs form-control" inputmode="numeric" type="number" id="montantBase" placeholder="1000" [ngClass]="{'input-error': !montantBase.valid && montantBase.value, 'input-success': montantBase.valid}" />
        <div class="input-group-append">
          <span class="input-group-text">€</span>
        </div>
      </div>
      <div *ngIf="montantBase.invalid && (montantBase.dirty || montantBase.touched)" class="error">
        <p *ngIf="montantBase.errors.required">Montant invalide.</p>
      </div>

      <label for="abondement">Abondement annuel</label>
      <div class="input-group">
        <input formControlName="abondement" class="inputs form-control" inputmode="numeric" type="number" id="abondement" placeholder="100" [ngClass]="{'input-error': !abondement.valid && abondement.value, 'input-success': abondement.valid}" />
        <div class="input-group-append">
          <span class="input-group-text">€</span>
        </div>
      </div>
      <div *ngIf="abondement.invalid && (abondement.dirty || abondement.touched)" class="error">
        <p *ngIf="abondement.errors.required">Abondement invalide.</p>
      </div>

      <label for="dureeInvestissement">Durée de l'investissement</label>
      <input formControlName="dureeInvestissement" class="inputs form-control" inputmode="numeric" type="number" id="dureeInvestissement" placeholder="10" [ngClass]="{'input-error': !dureeInvestissement.valid && dureeInvestissement.value, 'input-success': dureeInvestissement.valid}" />

      <div *ngIf="dureeInvestissement.invalid && (dureeInvestissement.dirty || dureeInvestissement.touched)" class="error">
        <p *ngIf="dureeInvestissement.errors.required">Durée invalide.</p>
      </div>

      <button type="submit" id="btn-submit" class="btn btn-primary btn-lg btn-block">Calculer</button>

      <div *ngIf="calculatorForm.invalid" class="error">
        <p *ngIf="calculatorForm.errors && checkout.errors.bug">Erreur lors du calcul.</p>
      </div>

      <button type="button" id="btn-autofill" class="btn btn-warning btn-lg btn-block" (click)="fillInputs()">Saisie automatique</button>
    </fieldset>
  </form>
</section>

<section id="container-tab" *ngIf="responseObs">
  <table>
    <tr class="turqBack">
      <th>Durée</th>
      <th>Année</th>
      <th>Capital final</th>
      <th>Taux d'intéret</th>
      <th>Abondement Annuel</th>
    </tr>
    <tr *ngFor="let epargne of responseObs | async; let i = index" [attr.data-index]="i">
      <td>{{ i + 1 }} an(s)</td>
      <td>{{ epargne.anneeEnCours }}</td>
      <td>{{ epargne.montant | currency:'EUR' }}</td>
      <td>{{ epargne.tauxInteret * 100 }} %</td>
      <td>{{ epargne.abondement | currency:'EUR' }}</td>
    </tr>
  </table>
</section>
<br id="bottom" />
